.Subscription{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
}

.plan {
border-left: 4px solid #24cfa6; 
padding-left: 12px;             
}

.plan h3 {
margin: 0;
font-size: 20px;
font-weight: bold;
}

.plan p {
margin: 5px 0 0;
font-size: 18px;
font-weight: bold;
}
.whatsappIcon>a{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: aliceblue;
}
.whatsappIcon>a>img{
    width: 70px; /* Sets a fixed width */
    height: auto;
    margin-right: 10px;
}
